<!DOCTYPE html>

<html>

	<head>
		<meta charset="UTF-8" />
		<link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet" type="text/css" />
		<link href="https://cdn.jsdelivr.net/npm/quasar@^1.0.0-beta.0/dist/quasar.min.css" rel="stylesheet" type="text/css" />
		<link href="styles.css" rel="stylesheet" type="text/css" />
	</head>

	<body>

		<div id="app" class="q-pa-sm">

			<!-- Page layout -->

			<q-layout>

				<q-header>
					<q-toolbar>
						<q-btn icon="menu" flat></q-btn>
						<q-toolbar-title>Services</q-toolbar-title>
					</q-toolbar>
				</q-header>

				<q-page-container>

					<q-page>

						<!-- Filters-->

						<div class="q-gutter-sm row q-mb-md" id="msb-filter">
							<div v-for="field in fields">
								<q-input
									:id="'filter-' + field.name"
                  v-model="filters[field.name]"
									:label="field.label"
									:type="field.type"
									:autogrow="field.multiline"
									placeholder="Any"
									stack-label
								/>
							</div>
							<div class="q-mt-md">
								<q-btn icon="filter_list" @click="filter" round color="primary"></q-btn>
							</div>
						</div>

						<!-- Listing -->

						<q-table
							row-key="id"
							:data="data"
							:columns="fields"
							>

							<template v-slot:body="props">
								<q-tr :props="props" @mouseenter.native="props.row.hover=true" @mouseleave.native="props.row.hover=false">
									<q-td :key="field.name" v-for="field in fields" :props="props">
										{{ props.row[field.name] }}
									</q-td>
									<q-td key="action">
										<q-btn flat round color="primary" @click="edit(props.row)" icon="edit"></q-btn>
									</q-td>
								</q-tr>
							</template>
						</q-table>

					</q-page>

				</q-page-container>

			</q-layout>

			<!-- Edit dialog -->

			<q-dialog v-model="form_edit">
				
				<q-card class="msb-card-dialog">

					<q-card-section>
						<div class="text-h6">Edit</div>
					</q-card-section>

					<q-card-section>
						<q-input
							v-for="field in fields"
							:key="field.id"
							v-model="input[field.name]"
							:id="'field-' + field.name"
							:label="field.label"
							:type="field.type"
							:autogrow="field.multiline"
							:class="field.required"
							stack-label
						/></q-input>
					</q-card-section>

					<q-card-section align="right">
						<q-btn color="primary" v-close-popup>Cancel</q-btn>
						<q-btn color="primary" v-close-popup @click="commit(input)">OK</q-btn>
					</q-card-section>

				</q-card>

			</q-dialog>

		</div>

		<!-- Scripts -->

		<script src="https://cdn.jsdelivr.net/npm/vue@latest/dist/vue.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/quasar@^1.0.0-beta.0/dist/quasar.umd.min.js"></script>
		<script src="index.js"></script>

	</body>

</html>
