$color: #212121;

$color-drop-light: #ECEFF1;
$color-drop-dark: #607D8B;

$color-dropping-light: #E8F5E9;
$color-dropping-dark: #4CAF50;

$color-preview-item: #CFD8DC;
$color-disabled: #F5F5F5;
$color-card: #FFFFFF;
$color-background: black;
$color-loader: #90A4AE;

$color-button-1: #607D8B;
$color-button-2: #FFFFFF;

body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  background: $color-background;
  color: $color;
  min-width: 320px;
  padding-top: 100px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.card {
  min-width: 288px;
  margin: auto;
  width: 500px;
  font-weight: lighter;
  max-width: calc(100% - 32px);
  padding: 1.5em 1em;
  position: relative;
  background: $color-card;
  color: $color;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(black, .35), 0 3px 6px rgba(black, .65);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


.file-drag {
  $gap: 10px;
  $speed: 1s;
  $stroke: 1px;
  margin: 1em 0;
  cursor: default;
  background-color: $color-drop-light;
  color: $color-drop-dark;
  background-image: 
    linear-gradient(to top, currentColor $gap,$color-card  $gap),
    linear-gradient(to right, currentColor $gap,$color-card  $gap),
    linear-gradient(to bottom, currentColor $gap,$color-card  $gap),
    linear-gradient(to left, currentColor $gap,$color-card  $gap);
  background-size: 
    $stroke $gap*2,
    $gap*2 $stroke,
    $stroke $gap*2,
    $gap*2 $stroke;
  background-repeat: 
    repeat-y,
    repeat-x,
    repeat-y,
    repeat-x;
  animation: background-position $speed linear infinite;
  will-change: background-position;
  &.hover {
    background-color: $color-dropping-light;
    color: $color-dropping-dark;
  }
  
  @at-root {
    @keyframes background-position {
      from {
      background-position: 
        0% 0px,
        0px 100%,
        100% 0px,
        0px 0%;
      }
      to {
      background-position: 
        0% 4 * $gap,
        4 * $gap 100%,
        100% -4 * $gap,
        -4 * $gap 0%;
      }
    }
  }
}


.image-preview {
  display: inline-block;
  max-width: 60px;
  max-height: 60px;
  margin: 2px;
  padding: 5px;
}
.preview {
  display: inline-block;
  padding: 5px;
  margin: 2px;
  max-width: 200px;
  max-height: 100px;
  overflow: auto;
  word-break: break-all;
  white-space: pre-wrap;
}
.preview-item {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 5px 0;
  background: $color-preview-item;
  
  &.disabled {
    background: $color-disabled;
    pointer-events: none;
    .button {
      opacity: 0.5;
    }
  }
}

.previews {

}

.input {
  position: absolute;
  top: 0;
  left: -10em;
  height: 0;
  width: 0;
  opacity: 0;
}

.loader {
  height: 60px;
  width: 60px;
  position: relative;
}

.loader-item {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  width: 10px;
  margin: -5px;
  border-radius: 100%;
  background: $color-loader;
  animation: load-item .8s ease-in-out infinite;
  
  @for $i from 0 to 3 {
    &:nth-child(#{$i + 1}) {
      animation-delay: $i*-.2s;
    }
  }
}

@keyframes load-item {
  from {
    transform: rotate(0deg) translateY(20px);
  }
  to {
    transform: rotate(360deg) translateY(20px);
  }
}

.button {
  font-size: .8em;
  margin-right: .5em;
  padding: .35em .5em;
  color: currentColor;
  border: 1px solid;
  cursor: pointer;
  background: transparent;
  color: $color-button-1;
  white-space: nowrap;
  font-weight: lighter;
  text-transform: uppercase;
 
  &:hover, &:focus {
    background: $color-button-1;
    border-color: $color-button-1;
    color: $color-button-2;
  }
  &:active {
    background: mix($color-button-1, $color-button-2, 90%);
    border-color: mix($color-button-1, $color-button-2, 90%);
    color: $color-button-2;
  }
  &:focus {
    outline: 0;
  }
}

.input-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  color: $color;
}

.file-name {
  flex: 0 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.file-ext {
  flex: 1;
}

.input-cover {
  padding: 1em;
  display: flex;
  align-items: center;
  align-content: center;
  border-radius: 2px;
}

.help-text {
  padding: 1em;
  display: inline-block;
  color: $color;
}



.spacer {
  flex: 1;
}